<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <form action="/api/articles" method="POST">
    Title: <input type="text" name="title" id="input_title"><br>
    Content: <input type="text" name="content" id="input_content"><br>
    <input type ="submit" id="article_button">
  </form>
</body>
</html>
